cache: cargo
language: rust
rust:
  - stable
before_script:
  - rustup component add rustfmt
  - rustup component add clippy
script:
  - cargo fmt --all -- --check
  - cargo clippy
  - cargo test --all

branches:
  only:
  - master

